<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.system.mapper.OperationMapper">

  <resultMap id="BaseResultMap" type="com.blade.system.entity.Operation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
  </resultMap>

  <select id="selectByMenuId" resultMap="BaseResultMap">
    SELECT id,operation_name,permission_code FROM base_operation WHERE menu_id = #{menuId}
  </select>
</mapper>